.keysafe-Inner-Container button.BasicButton {
    margin-top: 10px;
}

.add-password-card {
    width: 100%;
}

.add-password-card i {
}

#add-buttons-container .add-button div.add-password-card:hover{
    background-color: white;
}

#add-buttons-container {
    padding: 0;
    margin-top: 10px;
}

#add-buttons-container .add-button div.add-password-card{
    height: 140px;
    max-height: 140px;
}

#add-buttons-container .add-button{
    display: inline-block;
    width: 250px;
    padding: 10px;
    margin: 0;
}

#add-buttons-container .add-button i{
    display: block;
    padding: 20px;
}

#add-buttons-container .add-button i#i1{
    font-size: 70px;
    height: 60px;
}

#add-buttons-container .add-button i#i2{
    font-size: 55px !important;
    margin-top: 5px;
    height: 55px;
}

#add-buttons-container .add-button span{
    font-size: 16px;
}
