.UISettingsPasswordGeneratorView .element  {
    margin-left: 28px;
    margin-bottom: 0px;
    margin-top: 15px !important;
    color: #444;
}

.UISettingsPasswordGeneratorView .elementOneLine{
   display: inline-block;
    margin-top: 5px;
}

.UISettingsPasswordGeneratorView .elementOneLine-Left  {
    float: left;
    width: 150px;
}

.UISettingsPasswordGeneratorView .elementOneLine-Right  {
    float: left;
}

.UISettingsPasswordGeneratorView button {
    float: none !important;
}

.UISettingsPasswordGeneratorView .slider-element  {
    margin: 30px -20px;
}

.UISettingsPasswordGeneratorView .reset-btn {
    margin-top: 5px !important;
    padding: 2px;
}

.UISettingsPasswordGeneratorView input[type="text"]:disabled {
    color: #88929c;
}

.UISettingsPasswordGeneratorView .chars-input {
    margin-left: 25px;
    margin-right: 15px;
    padding: 0 !important;
}

.UISettingsPasswordGeneratorView .chars-input-unchanged { color: #545c66;}
.UISettingsPasswordGeneratorView .chars-input-changed { color: #3f51b5;}
.UISettingsPasswordGeneratorView .chars-input-disabled { color: #88929c;}

.UISettingsPasswordGeneratorView .mdl-textfield__input {
    font-size: 16px;
    text-align: center;
    font-family: monospace;

    outline-color: transparent;
    outline: none !important;
}
.UISettingsPasswordGeneratorView .mdl-textfield__input:focus{
    outline-color: transparent;
    outline: none !important;
}
