.keysafe-cards {
    z-index: 0;
    overflow: visible;
    position: relative;
}

.keysafe-cards .mdl-card__title{
    height: 60px;
    display: table;
    padding: 0 32px 0 16px;
    vertical-align: middle;
}

.keysafe-cards h2.password-title {
    /*  color: rgb(96,125,139) !important; Progressbar-Farbe!*/
    font-size: 19px !important;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
}

.mdl-menu__item {
    height: 28px !important;
    line-height: 28px !important;
    font-size: 12px !important;
}

.mdl-menu__item:hover {
    background-color: #e6e6e6 !important;
}

.mdl-menu__item_red {
    color: #bf0f1d !important;
}

.mdl-menu {
    background-color: #f2f2f2;
}
.mdl-menu__outline {
    z-index: 999 !important;
}

.keysafe-cards .mdl-card__menu {
    right:10px;
    top:14px;
}

.keysafe-cards ul {
    padding: 0;
}

.keysafe-cards h3 {
    font-size: 1em;
}

.keysafe-cards .mdl-card__actions a {
    color: #444;
    text-decoration: none;
    font-family: Consolas,monaco,monospace !important;
    font-size: 1.2em;
    text-align: left;
    min-width: 50%;
}

.keysafe-cards span.lastChange {
    font-size: 11px;
    color: #9b9b9b;
    display: inline-block;
    float: right;
    margin: 0 8px 2px 0;
    padding: 3px 3px;
    border-radius: 2px;
    background-color: #e2e2e2;
}

.keysafe-cards span.score {
    font-size: 11px;
    color: #fff;
    display: inline-block;
    float: left;
    margin: 0 0 2px 8px;
    padding: 3px 3px;
    border-radius: 2px;
    width: 20px;
    text-align: center;
}

.keysafe-cards span.scoreErr { background-color: #F44336; }
.keysafe-cards span.scoreWarn { background-color: #FB8C00; }
.keysafe-cards span.scoreOk { background-color: #43c242; }

.keysafe-list-no-dots {
    list-style: none;
    margin-bottom: 5px;
}


.keysafe-list-no-dots li.no-username {
    margin-top: 28px;
}

.keysafe-list-no-dots li {
}

.Filter-Highlight {
    color: black;
    background-color: yellow;
}

.keysafe-cards .mdl-button {
    white-space: nowrap;
    width: calc(100% - 16px);
    padding: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}
