.UIPasswordGeneratorDialog {
    width: 90%;
    max-width: 1200px;
}

.UIPasswordGeneratorDialog #generator-view {
    width: 60%;
    background-color: #f2f2f2;
    padding-top: 20px;
}

.UIPasswordGeneratorDialog #copied-hint {
    font-size: 12px;
    color: #2e7d32;
    display: block;
    visibility: hidden;
    position: absolute;
    margin-left: 5px;
    bottom: 5px;
}

.UIPasswordGeneratorDialog #score-view {
    width: 40%;
    padding: 0 0 5px 0;
}

.UIPasswordGeneratorDialog table {
    width: 100% !important;
}
