.UIPasswordScoreDialog {
    width: 650px;
    max-width: 650px;
}

.UIPasswordScoreDialog .password {
    margin: 20px 8px 0 8px;
    padding: 20px 0;
    background-color: #f2f2f2;
}

.UIPasswordScoreDialog .password span.original {
    display: block;
    font-size: 22px;
    font-family: monospace;
    text-align: center;
}

.UIPasswordScoreDialog .password span.cleaned {
    display: block;
    font-size: 12px;
    font-family: monospace;
    text-align: center;
    color: #F44336;
}
