.UIPasswordGeneratorView .element  {
    margin-left: 25px;
    margin-bottom: 10px;
    color: #444;
}

.UIPasswordGeneratorView div#buttons {
}

.UIPasswordGeneratorView button#generate { float: left;  margin-bottom: 20px;  margin-left: 20px;}
.UIPasswordGeneratorView button#copy { float: right; }

.UIPasswordGeneratorView .slider-element  {
    margin: 30px 0;
    width: 100%;
    max-width: 800px;
}

#password-input {
    width: calc(100% - 0px);
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 0;
    background-color: #e7e7e7;
    margin-bottom: 0;
    height: 100px;
}

.UIPasswordGeneratorView .mdl-textfield__input {
    text-align: center !important;
    font-family: monospace;
    border: none;
}
