.UIPasswordDialog {
    width: 500px;
    max-width: 500px;
}

.UIPasswordDialog .input-container .mdl-textfield{
    width: calc(100% - 40px);
    margin: 0 20px 0 20px;
}
.UIPasswordDialog .input-container {
    padding: 22px 0px;
    text-align: center;
}

.UIPasswordDialog #password-score {
    padding: 5px 20px;
    height: 20px;
}

.UIPasswordDialog #password-score label {
    text-align: left;
    display: block;
    font-size: 11px;
    color: #444;
}

.UIPasswordDialog table {
    width: 100% !important;
}

.UIPasswordDialog table td#password-gen {
    width: 30px;
}

.UIPasswordDialog table button {
    min-width: auto !important;
    color:#444;
}

.UIPasswordDialog .mdl-progress {
    width: 100% !important;
}
